<template name="s3_tester">
    <input type="file" class="file_bag" multiple>
    <button class="upload">Upload</button>

    {{#each files}}
        <p>{{percent_uploaded}}</p>
    {{/each}}


</template>
